<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="topbar">
    <img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" alt="menu_button">
    <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png" alt="search">
  </div>
  <div class="bodycontainer">

    {{{body}}}

  </div>
  <div class="bottombar">
    <img src="https://res.cloudinary.com/sabasmendivil/image/upload/v1543624017/house.png" alt="homelogo">
    <img src="https://res.cloudinary.com/sabasmendivil/image/upload/v1543624017/trending.png" alt="tendenciaslogo">
    <img src="https://res.cloudinary.com/sabasmendivil/image/upload/v1543624017/hashtag.png" alt="subirlogo">
    <img src="https://res.cloudinary.com/sabasmendivil/image/upload/v1543624017/user.png" alt="userlogo">
  </div>
</body>

</html>