<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="topbar">
    <img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" alt="menu_button">
    <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png" alt="search">
  </div>
  <div class="bodycontainer">

    {{{body}}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut minus consequatur vel maxime ea Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Dignissimos cumque, delectus quas earum, sunt explicabo, qui non saepe
      eveniet eligendi ullam consectetur corrupti id perspiciatis atque quasi debitis rerum possimus. aspernatur saepe
      dignissimos eius nam perspiciatis ipsam maiores asperiores est odio expedita earum reiciendis, voluptates
      molestiae?</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut minus consequatur vel maxime ea Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Dignissimos cumque, delectus quas earum, sunt explicabo, qui non saepe
      eveniet eligendi ullam consectetur corrupti id perspiciatis atque quasi debitis rerum possimus. aspernatur saepe
      dignissimos eius nam perspiciatis ipsam maiores asperiores est odio expedita earum reiciendis, voluptates
      molestiae?</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut minus consequatur vel maxime ea Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Dignissimos cumque, delectus quas earum, sunt explicabo, qui non saepe
      eveniet eligendi ullam consectetur corrupti id perspiciatis atque quasi debitis rerum possimus. aspernatur saepe
      dignissimos eius nam perspiciatis ipsam maiores asperiores est odio expedita earum reiciendis, voluptates
      molestiae?</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut minus consequatur vel maxime ea Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Dignissimos cumque, delectus quas earum, sunt explicabo, qui non saepe
      eveniet eligendi ullam consectetur corrupti id perspiciatis atque quasi debitis rerum possimus. aspernatur saepe
      dignissimos eius nam perspiciatis ipsam maiores asperiores est odio expedita earum reiciendis, voluptates
      molestiae?</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut minus consequatur vel maxime ea Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Dignissimos cumque, delectus quas earum, sunt explicabo, qui non saepe
      eveniet eligendi ullam consectetur corrupti id perspiciatis atque quasi debitis rerum possimus. aspernatur saepe
      dignissimos eius nam perspiciatis ipsam maiores asperiores est odio expedita earum reiciendis, voluptates
      molestiae?</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut minus consequatur vel maxime ea Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Dignissimos cumque, delectus quas earum, sunt explicabo, qui non saepe
      eveniet eligendi ullam consectetur corrupti id perspiciatis atque quasi debitis rerum possimus. aspernatur saepe
      dignissimos eius nam perspiciatis ipsam maiores asperiores est odio expedita earum reiciendis, voluptates
      molestiae?</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut minus consequatur vel maxime ea Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Dignissimos cumque, delectus quas earum, sunt explicabo, qui non saepe
      eveniet eligendi ullam consectetur corrupti id perspiciatis atque quasi debitis rerum possimus. aspernatur saepe
      dignissimos eius nam perspiciatis ipsam maiores asperiores est odio expedita earum reiciendis, voluptates
      molestiae?</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut minus consequatur vel maxime ea Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Dignissimos cumque, delectus quas earum, sunt explicabo, qui non saepe
      eveniet eligendi ullam consectetur corrupti id perspiciatis atque quasi debitis rerum possimus. aspernatur saepe
      dignissimos eius nam perspiciatis ipsam maiores asperiores est odio expedita earum reiciendis, voluptates
      molestiae?</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut minus consequatur vel maxime ea Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Dignissimos cumque, delectus quas earum, sunt explicabo, qui non saepe
      eveniet eligendi ullam consectetur corrupti id perspiciatis atque quasi debitis rerum possimus. aspernatur saepe
      dignissimos eius nam perspiciatis ipsam maiores asperiores est odio expedita earum reiciendis, voluptates
      molestiae?</p>

  </div>
  <div class="bottombar">
    <img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" alt="menu_button">
    <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png" alt="search">
  </div>
</body>

</html>