*{
  margin: 0;
  padding:0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.bodycontainer{
  padding-top: 8rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: white;
}
a {
  color: #00B7FF;
}

.topbar{
  height: 7rem;
  background-color: white;
  justify-content: space-between;
  top: 0;
}
.bottombar{
  height: 10rem;
  justify-content: space-around;
  bottom: 0; 
}
.bottombar ,.topbar{
  width:100%;
  display:flex;
  flex-direction: column wrap;
  position: fixed;
  background-color: white;
  align-items: center;


}
.topbar img ,.bottombar img{
  width: 5.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-right: auto;

}

.meme img{
  width: 400px;
}

.titulo{
  font-size: 3em;
  margin: 40px 0;
}

.footer{
  
}

.share{
  display: flex;
}

.autor{
  font-size: 2em;
}

.likes{
  font-size: 2em;
  color: lightgray;
}